.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.time-info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 1rem;
  z-index: 99;

  .countdown {
    font-size: 3.5rem;
    font-weight: bold;
  }
}
.minute-operator-container {
  display: flex;
  gap: 0.75rem;
  font-size: 1rem;
  background-color: var(--gray-200);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  border: none;
  border: 0.5px solid #c3c3c3;
  color: #000;
  user-select: none;
  cursor: pointer;

  button {
    padding: 0 0.55rem;
    border-radius: 10px;
    border: 1px solid var(--gray-500) !important;
    border-width: 0;
    cursor: pointer;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
}

svg {
  transform: rotate(270deg);
}

.timer-circle {
  position: relative;
  float: left;
}

.timer-circle h2 {
  text-align: center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

.circle-progress {
  transition: stroke-dashoffset 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform-origin: 550% 50%;
}

.countdown-form {
  display: flex;
  font-size: 3.5rem;
  font-weight: bold;
  align-items: center;

  input {
    width: 100px;
    height: 50px;
    font-size: 3.5rem;
    text-align: center;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.minute-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  z-index: 99999;
  max-height: 4rem;

  .minute-selector {
    width: auto;
    height: 50px;
    font-size: 3.5rem;
    text-align: center;
    max-height: 4rem;
    overflow-y: auto;
    margin-right: 10px;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
}

.btn-container {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem;
  align-items: center;
  user-select: none;
}
.btn {
  color: #000;
  background-color: #fff;
  border: 1px solid var(--gray-400);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
  transition: scale background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #c3c3c3;
  scale: 1.04;
}

.fa-solid {
  font-size: 2rem;
}
