@let countdownDisplay= countdownDisplay$ | async; @let
circleDashOffset=(circleDashOffset$ |async)?? 300; @let state =(state$ | async)
?? TimerState.pristine; @if( timeEnds$ | async){}

<div class="main">
  <div class="timer-circle">
    <div class="time-info-container">
      @if(state ===TimerState.pristine){
      <form @fadeIn [formGroup]="form">
        <div
          [class.disabled]="state !== TimerState.pristine"
          class="minute-operator-container"
        >
          <button
            (click)="
              isValidMinuteValue(form.controls.minutes.value - 1) &&
                form.controls.minutes.setValue(form.controls.minutes.value - 1)
            "
          >
            -
          </button>
          <div>1 min</div>
          <button
            (click)="
              isValidMinuteValue(form.controls.minutes.value + 1) &&
                form.controls.minutes.setValue(form.controls.minutes.value + 1)
            "
          >
            +
          </button>
        </div>
      </form>
      }@if(state !== TimerState.pristine){
      <div @fadeIn class="countdown">{{ countdownDisplay }}</div>
      }@else {
      <div class="countdown">
        {{ form.controls.minutes.value | number : "2.0-0" }}:{{
          form.controls.seconds.value | number : "2.0-0"
        }}
      </div>
      }
      <div class="btn-container">
        @if(state === TimerState.pristine){
        <button @fadeIn (click)="start$.next()" class="btn">▶</button>}
        @if(state ===TimerState.paused){
        <button @fadeIn (click)="reset$.next()" class="btn">↻</button>
        } @if(state === TimerState.running) {
        <button @fadeIn (click)="pause$.next()" class="btn">⏸</button>
        }
      </div>
    </div>

    <svg
      width="24rem"
      height="24rem"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        class="circle-background"
        fill="transparent"
        stroke="powderblue"
        stroke-width="1.4"
        r="48%"
        cy="50%"
        cx="50%"
        stroke="#D3E0FB"
        class="circle_background"
      />

      <circle
        class="circle-progress"
        stroke-dasharray="873.3627576979625 873.3627576979625"
        [style.stroke-dashoffset]="-circleDashOffset"
        r="48%"
        cy="50%"
        cx="50%"
        stroke-width="1.4"
        stroke="#4169E1"
        fill="none"
      />
    </svg>
  </div>
</div>
